@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary-500: oklch(62.7% 0.265 303.9);
  --primary-600: oklch(55.8% 0.288 302.321);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .payload-richtext p {
    @apply font-bold;
  }

  .payload-richtext a {
    @apply text-[var(--primary-500)] hover:text-[var(--primary-600)]
  }

  .payload-richtext h1 {
    @apply text-4xl leading-tight font-bold mt-8 mb-6 scroll-mt-[100px]
  }

  .payload-richtext h2 {
    @apply text-3xl leading-tight font-semibold mt-8 mb-5 scroll-mt-[100px]
  }

  .payload-richtext h3 {
    @apply text-2xl leading-snug font-semibold mt-7 mb-4 scroll-mt-[100px]
  }

  .payload-richtext h4 {
    @apply text-xl leading-snug font-semibold mt-6 mb-4 scroll-mt-[100px]
  }

  .payload-richtext h5 {
    @apply text-lg leading-normal font-semibold mt-5 mb-3 scroll-mt-[100px]
  }

  .payload-richtext h6 {
    @apply text-base leading-normal font-semibold mt-4 mb-3 scroll-mt-[100px]
  }
}

.pattern-background {
  position: absolute;
  top: -6rem;
  bottom: -6rem;
  left: -6rem;
  right: -6rem;
  width: calc(100% + 12rem);
  z-index: -1;
  opacity: 0.3;
  background-image:
    linear-gradient(#9696ff 3.00000000003px, transparent 3px),
    linear-gradient(to right, #9696ff 3.00000000003px, transparent 3px);
  background-size: 66px 66px;

  @media (max-wwidth: 768px) {
    width: calc(100% + 4rem);
    height: calc(100% + 4rem);
    top: -3rem;
    left: -3rem;
    right: -3rem;
    bottom: -3rem;
    background-size: 30px 30px;
  }

  /* -webkit-mask: radial-gradient(circle at center, black 0%, transparent 70%);
  mask: radial-gradient(circle at center, black 0%, transparent 70%); */

}

.default-fade {
  -webkit-mask: radial-gradient(ellipse 70% 60% at center, rgb(15, 23, 42) 0%, transparent 70%);
  mask: radial-gradient(ellipse 70% 60% at center, rgb(15, 23, 42) 0%, transparent 70%);
}